@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
:root {
    --primary: #1447e6;
    --secondary: #26d48c;
    --primary-dark: #0d33b3;
}

.bg-primary { background-color: var(--primary); }
.bg-secondary { background-color: var(--secondary); }
.bg-primary-dark { background-color: var(--primary-dark); }
.from-primary { --tw-gradient-from: var(--primary); }
.to-primary-dark { --tw-gradient-to: var(--primary-dark); }

.text-primary { color: var(--primary); }
.text-secondary { color: var(--secondary); }

.border-primary { border-color: var(--primary); }
.border-secondary { border-color: var(--secondary); }
